#navbarNav {
  justify-content: end;
  padding-right: 5rem;
  padding-top: 1rem;
}
.navbar-nav {
  width: 70%;
  display: flex;
  justify-content: space-between !important;
}
.nav-link {
  color: whitesmoke;
  font-size: x-large;
}
h3 {
  padding-left: 10rem;
  padding-top: 1rem;
}
main {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5rem;
}

.text-title {
  letter-spacing: 5px;
  font-family: monospace;

  width: 100%;

  color: #fff;
}
.text-subtitle {
  letter-spacing: 5px;
  font-family: monospace;
  width: 85%;
  white-space: nowrap;
  overflow: hidden;

  color: #fff;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  width: 35%;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;
}

.github {
  background-color: #333;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.gmail {
  background-color: #f43f3f;
}

.gmail svg {
  fill: #f2f2f2;
}

.gmail:hover svg {
  fill: #f43f3f;
  background-color: white;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

.Btn {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.svgIcon {
  fill: #2196f3;
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid #2196f3;
  border-left: 2px solid #2196f3;
  border-right: 2px solid #2196f3;
}

.tooltip {
  position: absolute;
  right: -80px;
  opacity: 0;
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(12, 12, 12);
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  left: -5%;
  transition-duration: 0.3s;
}

.Btn:hover .tooltip {
  opacity: 1;
  transition-duration: 0.3s;
}

.Btn:hover {
  background-color: #2196f3;
  transition-duration: 0.3s;
}

.Btn:hover .icon2 {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.Btn:hover .svgIcon {
  fill: black;
  animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.introduce-continer {
  display: flex;
  text-align: center;
  justify-content: center;
}

.introduce {
  width: 90%;

  color: #b8b8b8;
  font-size: 20px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
}
